{% extends "payroll/base_generic.html" %}

{% block content %}
<h1>Manager Dashboard</h1>
<p>Welcome to the Manager Home Page, {{ user.first_name }}!</p>

<h2>Employee Overview</h2>
<ul>
    <li><a href="{% url 'employee_list' %}">View All Employees</a></li>
    <li><a href="{% url 'add_employee' %}">Add New Employee</a></li>
    <li><a href="{% url 'payroll_list' %}">View Payroll Information</a></li>
    <li><a href="{% url 'run_payroll' %}">Run Payroll</a></li>
    <li><a href="{% url 'edit_employee' %}">Edit Employees</a></li>
</ul>
{% endblock %}
