{% extends "payroll/base_generic.html" %}

{% block content %}
<h1>Manager Dashboard</h1>
<p>Welcome to the Manager Home Page, {{ user.first_name }}!</p>

<h2>Employee Overview</h2>
<ul>
    <li><a href="{% url 'employee_list' %}">View All Employees</a></li>
    <li><a href="{% url 'add_employee' %}">Add New Employee</a></li>
    <li><a href="{% url 'payroll_list' %}">View Payroll Information</a></li>
    <li><a href="{% url 'run_payroll' %}">Run Payroll</a></li>
    <li><a href="{% url 'edit_employee' %}">Edit Employees</a></li>
    <li><a href="{% url 'generate_w2' %}">Generate W-2 Documents</a></li>
    <li><a href="{% url 'event_listen' %}">Event Listener Example</a></li>
    <li><a href="{% url 'stripe-payment' %}">Pay With P̷a̷y̷P̷a̷l̷ Stripe</a></li>
    <li><a href="{% url 'read_me' %}">Read Me</a></li>
</ul>
{% endblock %}
