{% extends "payroll/base_generic.html" %}

{% block title %}Payroll List{% endblock %}

{% block content %}
<h1>Payroll List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pay Date</th>
            <th>Pay Period Start</th>
            <th>Pay Period End</th>
            <th>Hours Worked</th>
            <th>Gross Pay</th>
            <th>Taxes Withheld</th>
            <th>Net Pay</th>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        {% for payroll in payrolls %}
        <tr>
            <td>{{ payroll.id }}</td>
            <td>{{ payroll.pay_date }}</td>
            <td>{{ payroll.pay_period_start }}</td>
            <td>{{ payroll.pay_period_end }}</td>
            <td>{{ payroll.hours_worked }}</td>
            <td>{{ payroll.gross_pay }}</td>
            <td>{{ payroll.taxes_withheld }}</td>
            <td>{{ payroll.net_pay }}</td>
            <td>{{ payroll.employee.user.first_name }} {{ payroll.employee.user.last_name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No payroll records found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
